// norm

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    // overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', 'Open Sans', 'Source Sans Pro', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.5rem;
    &.lock {
        overflow: hidden;
    }
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

a, button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

// custom
// header 

header {
    position: relative;
}

.header_top {
    height: 160px;
    transition: all .5s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1300;
    width: 100%;
    > .container {
        height: 100%;
    }
    &.scroll {
        width: 100%;
        height: 60px;
        background-image: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
        box-shadow: 0 0 5px #555;
        opacity: 0.9;
    }
}

.header_flex {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease;
    .hamburger_menu {
        display: none;
    }
}

#main_menu ul {
    display: flex;
    gap: 23px;
    padding-left: 60px;
    li {
        position: relative;
        a {
            font-family: 'Source Sans Pro';
            color: #fff;
            font-size: 14px;
            line-height: 18px;
            padding: 10px 35px;
            &:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border: 1px solid #fff;
                border-radius: 50%;
                top: 6px;
                left: 10px;
            }
        }
        &:hover a::before {
            background-color: #fff;
        }
    }
}

.list_sm {
    display: flex;
    gap: 20px;
    padding-top: 5px;
    li:hover svg {
        fill: #fff;
    }
}

// mobile menu

#side_block {
    display: block;
    width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #5474fd;
    padding: 20px;
    height: 100vh;
    z-index: 2000;
    transform: translate(-320px);
    transition: all .2s ease;
    &.open {
        transform: translate(0px);
    }
}

#page_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .7);
    display: none;
    z-index: 1500;
    &.open {
        display: block;
    }
}

#mobile_menu_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mobile_menu_list li {
    margin-bottom: 20px;
    text-align: center;
    a {
        font-size: 22px;
        color: #fff;
    }
}


// home slider

#home_slider {
    height: 100%;
    width: 100%;
    position: relative;
}

.home_slide {
    height: 100%;
    width: 100%;
    padding: 330px 0;
    background-position: center;
    background-size: cover;
}

.slide_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: #FFFFFF;
    }
}

.down_arrow {
    position: absolute;
    bottom: 52px;
    left: 49%;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    &:before {
        content: '';
        left: 16px;
        top: 15px;
        width: 6px;
        height: 6px;
        position: absolute;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        transform: rotate(-45deg);
    }
    &:hover {
        background-color: #fff;
    }
    &:hover::before {
        border-color: #7E5AFF;
    }
}

#home_slider .slick-dots {
    transform: rotate(90deg);
    right: 5%;
    bottom: 48%;
    width: auto;
    li {
        margin-left: 14px;
        &:first-of-type {
            margin-left: 0px;
        }
        button {
            width: 10px;
            height: 10px;
            &:before {
                line-height: 20px;
                width: 10px;
                height: 10px;
                content: "";
                text-align: center;
                opacity: 1;
                border: 1px solid #fff;
                border-radius: 50%;
            }
            &:hover::before {
                background-color: #fff;
            }
        }
    }
    .slick-active button:before {
        background-color: #fff;
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}


// main
// projects section

.projects {
    padding: 130px 0 133px;
}

.style_h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
    position: relative;
    margin-bottom: 146px;
    &:before {
        content: '';
        position: absolute;
        top: -33px;
        left: 46%;
        width: 100px;
        border-bottom: 1px solid #2C4058;
    }
}

.project_example {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.top_project {
    margin-bottom: 188px;
}

.project_img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    img {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
    &::after {
        content: '';
        position: absolute;
        background-color: #55B7FF;
        width: 100%;
        height: 100%;
        top: -60px;
        left: -34%;
        z-index: 2;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 16px 41px;
    border: 1px solid #2C4058;
    &:hover {
        background-color: #2C4058;
        color: #FFFFFF;
    }
}

.project_text {
    padding-top: 92px;
    h4 {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #2C4058;
    }
    h3 {
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2C4058;
        margin-bottom: 19px;
    }
    p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #2C4058;
        margin-bottom: 31px;
    }
    .btn {
        margin-bottom: 60px;
    }
    .coords svg {
        margin-right: 6px;
    }
    .coord_link {
        display: inline;
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
}

.bottom_project {
    gap: 64px;
    .project_img::after {
        top: -58px;
        left: 41%;
        background-color: #7E5AFF;
    }
}

// news

.news {
    padding-bottom: 212px;
    background-position: center;
    background-size: cover;
    padding-top: 165px;
    height: 100%;
    .style_h3 {
        color: #fff;
        margin-bottom: 89px;
        &:before {
            border-bottom: 1px solid #fff;
        }
    }
}

.news_card {
    margin-right: 20px;
    &:first-child {
        margin-left: 10px;
    }
    &:last-child {
        margin-right: 0;
    }  
}

.card_image {
    object-fit: cover; 
    img {
    width: 100%;
    height: 100%;
    }
}

.card_descr {
    background-color: #fff;
    padding: 30px 20px 30px 20px;
    h4 {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #2C4058;
        margin-bottom: 11px;
    }
    p {
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 25px;
        color: #2C4058;
        margin-bottom: 39px;
    }
}

.card_author {
    display: flex;
    gap: 20px;
    .card_author_img img {
        border-radius: 50%;
    }
    .card_author_cred {
        padding-top: 6px;
        h5 {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #2C4058;
            margin-bottom: 7px;
        }
        h6 {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #55B7FF;
        }
    }
}

.news_slider {
    .slick-dots {
        bottom: -80px;
        li {
            margin: 0;
            margin-left: 31px;
            &:first-of-type {
                margin-left: 0px;
            }
            button {
                width: 10px;
                height: 10px;
                &:before {
                    line-height: 20px;
                    width: 10px;
                    height: 10px;
                    content: "";
                    text-align: center;
                    opacity: 1;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
                &:hover::before {
                    background-color: #fff;
                }
            }
        }
        .slick-active button:before {
            background-color: #fff;
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}
// buttons 
.slick-prev {
    left: -100px;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    &:before {
        content: '';
        top: 45%;
        left: 18px;
        transform: rotate(45deg);
        position: absolute;
        height: 5px;
        width: 5px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}
.slick-next {
    right: -100px;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    &::before {
        content: '';
        top: 45%;
        left: 15px;
        transform: rotate(-135deg);
        position: absolute;
        height: 5px;
        width: 5px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}

// gallery

.gallery {
    padding: 170px 0 139px;
    .style_h3 {
        margin-bottom: 89px;
    }
    .btn {
        display: block;
        text-align: center;
        width: 190px;
        margin: 0 auto;
    }
}

.gallery_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 9px 9px;
    margin-bottom: 61px;
}

.gallery_img {
    display: block;
    position: relative;
    &:first-of-type {
        grid-area: 1/1/3/3;
    }
    &:hover::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.3;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}


// map

#map {
    width: 100%;
    height: 700px;
    #map_cover {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
        &::after {
            content: 'Click to see the map';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            color: #fff;
            font-family: 'Montserrat';
            font-size: 32px;
            display: flex;
            justify-content: center;
            padding-top: 170px;
            opacity: 0;
            transition: all .2s ease;
        }
        &:hover::after {
            opacity: 0.5;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

// footer 

footer {
    background-position: center;
    background-size: cover;
}

.footer_form {
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 770px;
    padding: 90px 60px 68px;
    position: relative;
    top: -300px;
    left: 0;
    z-index: 1200;
    .style_h3 {
        margin-bottom: 42px;
        &::before {
            left: 44%;
        }
    }
}

.footer_form_flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer_form_contacts {
    width: 50%;
    li {
        margin-bottom: 28px;
        font-size: 18px;
        line-height: 28px;
        &:last-of-type {
            margin-bottom: 0px;
        }
        span {
            margin-right: 7px;
        }
    }
}

.footer_form_input {
    width: 50%;
    .form_input {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        width: 310px;
        height: 41px;
        color: #000;
        border: none;
        border-bottom: 1px solid rgba(44, 64, 88, 0.2);
        padding-bottom: 14px;
        &:hover {
            border-bottom: 1px solid rgba(44, 64, 88, 1);
        }
        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px solid rgba(44, 64, 88, 1);
            &::placeholder {
                color: transparent;
            }
        }
    }
    #footer_form_name {
        margin-bottom: 33px;
    }
    #footer_form_email {
        margin-bottom: 30px;
    }
    .btn {
        display: block;
        background-color: #fff;
        float: right;
        font-size: 18px;
        line-height: 27px;
        padding: 10px 35px;
        cursor: pointer;
        &:hover {
            background-color: #2C4058;
        }
    }
}

.footer_bottom  {
    position: relative;
    top: -300px;
    width: 100%;
    max-width: 770px;
    padding-bottom: 35px;
    h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}

.footer_bottom_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    a {
        display: block;
    }
}


// RESPONSIVE

@media screen and (max-width:1550px) {
    .top_project .project_img::after {
        right: -10%;
    }
    .bottom_project .project_img::after {
        left: 25%;
    }
}

@media screen and (max-width:1400px) {
    .top_project .project_img::after {
        content: none;
    }
    .bottom_project .project_img::after {
        content: none;
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
}

@media screen and (max-width: 1300px) {
    #home_slider .slick-dots {
        right: 0%;
    }
    .news {
        padding-top: 85px;
    }
}

@media screen and (max-width: 1200px) {
    #main_menu ul {
        padding-left: 0px;
        li a {
            padding: 10px 20px;
            &:before {
                content: none;
            }
        }
    }
    .slide_text h2 {
        font-size: 60px;
        line-height: 70px;
    }
    .projects .style_h3 {
        margin-bottom: 80px;
    }
    .project_text {
        padding-top: 0px;
    }
    .gallery {
        padding: 60px 0 60px;
    }
    .gallery .style_h3 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 950px) {
    #main_menu ul li a {
        padding: 5px 10px;
    }
    #home_slider .slick-dots {
        right: -5%;
    }
    .news {
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 900px) {
    .header_top .list_sm {
        display: none;
    }
    .header_top .hamburger_menu {
        display: block;
    }
    .projects {
        padding: 50px 0 50px;
    }
    .project_example {
        gap: 25px;
    }
    .projects .style_h3 {
        margin-bottom: 40px;
    }
    .project_example {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .bottom_project .project_text {
        order: 2;
    }
    .project_text .btn {
        margin-bottom: 20px;
    }
    .project_img {
        text-align: center;
    }
    .bottom_project .project_img {
        order: 1;
    }
    .project_img img {
        width: 75%;
    }
    .project_text {
        text-align: center;
        h3 {
            font-size: 34px;
            line-height: 40px;
        }
    }
    .gallery_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 860px) {
    #home_slider .slick-dots {
        right: -10%;
    }
    .slide_text h2,
    .slide_text h3 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .header_top {
        height: 80px;
    }
    #main_menu {
        display: none;
    }
    .footer_form_flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_form_contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_form_input,
    .footer_form_contacts {
        width: 100%;
    }
    .form_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_bottom_flex {
        justify-content: space-around;
    }
    .footer_bottom h5 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .slide_text h2 {
        font-size: 30px;
        line-height: 45px;
    }
    .style_h3::before {
        left: 35%;
    }
    .news .style_h3 {
        margin-bottom: 40px;
    }
    .footer_form_contacts li {
        margin-bottom: 14px;
        text-align: center;
    }
    .footer_form .style_h3::before {
        left: 35%;
    }
    .footer_form_input .form_input {
        width: 100%;
    }
    .footer_bottom_flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

@media screen and (max-width: 1200px) {
    
}





// header
.header_flex {

}

// main
// projects



// news

// gallery

// map

// footer