/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  font-family: "Gilroy";
  color: #070707;
  font-size: 18px;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

#main_menu {
  padding: 30px 0 36px;
  border-bottom: 1px solid #828282;
}
#main_menu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#main_menu ul li {
  display: inline-block;
}
#main_menu ul li a {
  text-decoration: none;
  line-height: 22px;
  color: #828282;
}
#main_menu ul li a:hover {
  color: #070707;
}

.hamburger_menu {
  display: none;
}

#side_mobile_container {
  width: 375px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 20px;
  height: 100vh;
  z-index: 11;
  transform: translateX(-375px);
}
#side_mobile_container.open {
  transform: translateX(0);
}
#side_mobile_container .wrapper {
  display: flex;
  justify-content: space-between;
}
#side_mobile_container .wrapper #mobile_menu_container ul {
  list-style: none;
}
#side_mobile_container .wrapper #mobile_menu_container ul li {
  margin-bottom: 68px;
}
#side_mobile_container .wrapper #mobile_menu_container ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #828282;
}
#side_mobile_container .wrapper #mobile_menu_container ul li a:first-child {
  color: #070707;
}

.white {
  background-color: #fff;
}

.gray {
  background-color: #f6f6f6;
}

.home_screen {
  padding: 27px 0 102px;
}
.home_screen .denis_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 42px;
}
.home_screen .denis_text h1 {
  font-size: 47px;
  line-height: 59px;
}
.home_screen .denis_text h4 {
  font-weight: 400;
  line-height: 22px;
  padding-right: 52px;
  padding-bottom: 11px;
}
.home_screen .denis_text h5 {
  writing-mode: vertical-rl;
  padding-bottom: 14px;
}
.home_screen .denis_text h5 #grey_ru {
  color: #828282;
}
.home_screen #profile_photo {
  width: 100%;
}
.home_screen #thin_profile_photo {
  display: none;
  padding-bottom: 30px;
}

.about_me_content {
  padding: 113px 0 107px;
}
.about_me_content h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding-bottom: 21px;
}
.about_me_content .about {
  text-align: center;
}
.about_me_content .about p {
  margin-bottom: 44px;
  line-height: 22px;
}
.about_me_content .about p:last-child {
  margin-bottom: 0px;
}

.skills_screen {
  padding-bottom: 90px;
}
.skills_screen h2 {
  padding: 86px 0 58px;
  text-align: center;
  font-size: 34px;
  line-height: 42px;
}
.skills_screen p {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 86px;
}
.skills_screen .skills {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  flex-wrap: wrap;
  align-items: center;
}
.skills_screen .skills .skills_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills_screen .skills .skills_card img {
  margin-bottom: 20px;
}
.skills_screen .skills .skills_card h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  text-align: center;
  margin-bottom: 38px;
}
.skills_screen .skills .skills_card ul {
  list-style: none;
}
.skills_screen .skills .skills_card ul li {
  display: inline-block;
  margin-right: 10px;
}
.skills_screen .skills .skills_card ul li:last-child {
  margin-right: 0px;
}

.portfolio_screen h2 {
  text-align: center;
  padding: 107px 0 55px;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
}
.portfolio_screen .portfolio_images {
  padding-bottom: 99px;
}
.portfolio_screen .portfolio_images img {
  width: 100%;
  margin-bottom: 36px;
}
.portfolio_screen .portfolio_images h5 {
  text-align: center;
}
.portfolio_screen .portfolio_images h5 a {
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-decoration: none;
}
.portfolio_screen .portfolio_images h5 a:hover {
  text-decoration: underline;
}

.contact_screen h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding-top: 112px;
}
.contact_screen p {
  text-align: center;
  padding: 26px 0 32px;
  line-height: 22px;
}
.contact_screen .send_button {
  text-align: center;
  margin-bottom: 85px;
}
.contact_screen .send_button button {
  width: 180px;
  height: 42px;
  font-weight: 700;
  text-align: center;
  background-color: #000;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}
.contact_screen .send_button button:hover {
  background-color: #fff;
  color: #000;
}
.contact_screen ul {
  display: flex;
  justify-content: center;
}
.contact_screen ul li {
  display: inline-block;
  text-align: center;
  margin-right: 60px;
}
.contact_screen ul li:last-child {
  margin-right: 0px;
}
.contact_screen #bottom_text {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
  margin-top: 12px;
  padding-bottom: 159px;
}

@media screen and (max-width: 768px) {
  #main_menu {
    padding: 15px 0 18px;
  }

  .home_screen {
    padding: 14px 0 20px;
  }

  .about_me_content {
    padding: 50px 0 52px;
  }
  .about_me_content .about {
    margin: 22px;
  }

  .skills_screen {
    padding-bottom: 20px;
  }
  .skills_screen h2 {
    padding: 45px 0 30px;
  }
  .skills_screen .skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .skills_screen .skills .skills_card {
    width: 40%;
    margin-bottom: 80px;
  }

  .portfolio_screen h2 {
    padding: 55px 0 25px;
  }
  .portfolio_screen .portfolio_images {
    padding-bottom: 50px;
  }

  .contact_screen h2 {
    padding-top: 50px;
  }
  .contact_screen .send_button {
    margin-bottom: 40px;
  }
  .contact_screen #bottom_text {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 540px) {
  #main_menu {
    display: none;
  }

  .denis_text {
    display: flex;
    flex-wrap: wrap;
  }
  .denis_text h4,
.denis_text h5 {
    display: none;
  }
  .denis_text .hamburger_menu {
    display: block;
    align-self: center;
  }

  .home_screen #profile_photo {
    display: none;
  }
  .home_screen #thin_profile_photo {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }
  .skills .skills_card ul li {
    margin-right: 5px;
    width: 10%;
  }
  .skills .skills_card:last-child {
    margin-bottom: 30px;
  }

  .contact_screen ul li {
    margin-right: 30px;
  }
  .contact_screen ul li:last-child {
    margin-right: 0px;
  }
  .contact_screen #bottom_text {
    font-size: 16px;
  }
}