<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css" id="theme_css">
</head>
<body>
    <div id="app">
        <div class="container pt-4">
            <div class="card mb-4">
                <div class="row header_panel">
                    <div class="col-9 main_text">
                        <h1 class="text-center mt-2 animate__animated animate__fadeInDown">IMDB Movie Search</h1>
                    </div>
                    <div class="col-2 toggle_switch">
                        <label for="theme_toggle">Dark Theme</label>
                        <input @click="toggleTheme()" class="toggle" id="theme_toggle" type="checkbox" />
                    </div>
                </div>
                <div class="card-body">
                    <form id="search_form" @submit.prevent="searchMovies">
                        <div class="row">
                            <div class="col-5 name_input">
                                <input type="search" class="form-control" placeholder="Enter movie title" v-model="search">
                            </div>
                            <div class="col-2 type_input">
                                <select name="movie_type" v-model="movieType"  class="form-control">
                                    <option value="movie">Full-length film</option>
                                    <option value="series">TV series</option>
                                </select>
                            </div>
                            <div class="col-2 year_input">
                                <input type="number" name="movie_year" v-model="year" class="form-control" min="0" placeholder="Year">
                            </div>
                            <div class="col-1 search_button">
                                <button type="submit" class="btn btn_custom animate__animated animate__fadeInDownBig">Search</button>
                            </div>
                            <div class="col-2 favorites_button">
                                <button type="button" class="btn btn_custom animate__animated animate__fadeInDownBig" @click="getFavorites()">See your favorites</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card animate__animated animate__backInUp" v-if="searchResult">
                <div class="card-header">
                    <h3 class="mt-2">Here are results for your search:</h3>
                </div>
                <div class="card-body row">
                    <template class="card col-3 mb-3" v-for="movie in movieListWithFavorite()" :key="movie.imdbID">
                        <movie-item :movie="movie" @get-movie="getMovieInfo" @add-remove="addRemoveFavorites"/>
                    </template>
                    <div class="d-flex justify-content-center">
                        <pagination :page="page" :total="totalPages" @go-to-page="goToPage"></pagination>
                    </div>
                </div>
            </div>
            <div class="card mt-4 animate__animated animate__backInUp" v-if="showFavoritesList">
                <div class="card-body row" >
                    <h3 class="mt-2">Your favorite movies list</h3>
                    <template class="card col-3 mb-3" v-for="movie in favorites" :key="movie.imdbID">
                        <movie-item :movie="movie" @get-movie="getMovieInfo" @add-remove="addRemoveFavorites"/>
                    </template>
                </div>
            </div>
        </div>
        <div class="modal_overlay" v-if="showModal">
            <div class="my_modal animate__animated animate__rotateIn">
                <h3 class="text-center text-uppercase"><b>{{ movieInfo.Title }}</b></h3>
                <div class="modal_flex">
                    <div class="modal_img">
                        <img v-if="movieInfo.Poster !== 'N/A'" :src="movieInfo.Poster" :alt="movieInfo.Title">
                        <img src="https://via.placeholder.com/420x630" class="card-img-top pt-4" :alt="movieInfo.Title" v-else>
                    </div>
                    <div class="modal_info">
                        <h5><b>Director:</b> {{movieInfo.Director}}</h5>
                        <h5><b>Year:</b> {{movieInfo.Year}}</h5>
                        <h5><b>Genre:</b> {{movieInfo.Genre}}</h5>
                        <h5><b>Plot:</b> {{movieInfo.Plot}}</h5>
                        <div v-if="movieInfo.Ratings[0] !== 'undefined'">
                            <h5><b>{{movieInfo.Ratings[0].Source}}</b>: {{ movieInfo.Ratings[0].Value }}</h5>
                            <div class="progress_bar_wrap">
                                <div class="progress_bar" :style="{width: this.styleProgressBar(0) }">
                                </div>
                            </div>
                        </div>
                        <div v-if="movieInfo.Ratings[1] !== 'undefined'">
                            <h5><b>{{movieInfo.Ratings[1].Source}}</b>: {{ movieInfo.Ratings[1].Value }}</h5>
                            <div class="progress_bar_wrap">
                                <div class="progress_bar" :style="{ width: movieInfo.Ratings[1].Value}">
                                </div>
                            </div>
                        </div>
                        <div v-if="movieInfo.Metascore !== 'N/A'">
                            <h5><b>{{movieInfo.Ratings[2].Source}}</b>: {{ movieInfo.Ratings[2].Value }}</h5>
                            <div class="progress_bar_wrap">
                                <div class="progress_bar" :style="{width: movieInfo.Metascore + '%' }">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn_custom mt-2 detail_close_button" @click="showModal = false">Close the window</button> 
                    </div>
                </div>  
            </div>
        </div>
        <div id="pop_up"></div>
    </div>

    <template id="movieItem">
        <div class="card col-3 mb-3 film_card">
            <img :src="movie.Poster" class="card-img-top mt-2" :alt="movie.Title" v-if="movie.Poster !== 'N/A'">
            <img src="https://via.placeholder.com/420x630" class="card-img-top pt-4" :alt="movie.Title" v-else>
            <div class="card-body row">
                <h5 class="card-title">{{ movie.Title }}</h5>
                <p class="card-text">{{ movie.Year }}</p>
                <div class="row">
                    <div class="col-4 details_button">
                        <button type="button" class="btn btn_custom" @click="getMovieInfo(movie.imdbID)">Details</button>
                    </div>
                    <div class="col-4 add_favorites_button">
                        <button type="button" class="btn btn-success btn_favorite" @click="addRemoveFavorites(movie.imdbID)">
                            <svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48">
                                <path :fill="movie.inFav ? '#f00' : '#fff'" d="M34,9c-4.2,0-7.9,2.1-10,5.4C21.9,11.1,18.2,9,14,9C7.4,9,2,14.4,2,21c0,11.9,22,24,22,24s22-12,22-24 C46,14.4,40.6,9,34,9z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="pagination">
        <nav v-if="total !== 0">
            <ul class="pagination">
                <li class="page-item" :class="{disabled: page === 1}">
                    <a class="page-link" href="#" @click.prevent="goToPage(page-1)">Previous</a>
                </li>

                <template v-if="page > 4">
                    <li class="page-item">
                        <a class="page-link" href="#" @click.prevent="goToPage(1)">1</a>
                    </li>
                    <li>
                        <a class="page-link">...</a>
                    </li>
                </template>

                <li class="page-item" v-for="p in total" :class="{active: p === page}" :key="p">
                    <a class="page-link" href="#" v-if="Math.abs(p - page) < 4" @click.prevent="goToPage(p)">{{ p }}</a>
                </li>

                <template v-if="page < 39">
                    <li>
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item"  :class="{disabled: page === total}">
                        <a class="page-link" href="#" @click.prevent="goToPage(total)">{{total}}</a>
                    </li>
                </template>

                <li class="page-item" :class="{disabled: page === total}">
                    <a class="page-link" href="#" @click.prevent="goToPage(page+1)">Next</a>
                </li>
            </ul>
        </nav>
    </template>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.global.js"></script>
    <script src="assets/js/movies.js"></script>
    <script src="assets/js/wow.js"></script>
</body>
</html>

<!-- 1. Пошук фільмів
    - за назвою DONE 
    - з урахуванням типу DONE 
    - з урахуванням року DONE
2. Улюблені фільми (favourite)
    - підвантажувати одразу DONE
    - зберігати у localStorage DONE
3. Використати CSS фреймворки (Bootstrap)
    - адаптивність! DONE
4. Дві (або більше) візуальні теми світла/темна 
    - поточну тему зберігати у cookies DONE
5. Рейтинги фільмів
    - у вигляді прогресбару
6. Посторінкова навігація DONE 
7. Детальний перегляд у модальному вікні DONE
8* анімація
 -->