* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #070707;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

#header {
    height: 75px;
}

#header .container {
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

#main_menu ul {
    text-align: center;
    padding: 17px 0 29px 0px;
}

#main_menu ul li {
    display: inline-block;
    margin: 0 18px;
}

#main_menu ul li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
}

#main_menu ul li a.active, 
#main_menu ul li a:hover {
    color: #070707;
}

.white {
    background-color: #fff;
}

.gray {
    background-color: #f6f6f6;
}

.first_screen {
    padding: 27px 0;
    height: 617px;
}

#profile_photo {
    width: 100%;
    vertical-align: top;
    margin-left: 5px;
    margin-top: -1px;
}

h1 {
    font-size: 47px;
    line-height: 64px;
    margin-bottom: 38px;
}

.gray#about_me_anchor {
    padding-bottom: 18px;
}

h2 {
    text-align: center;
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 28px;
    margin-top: -4px;
    padding-top: 100px;
}

.content {
    text-align: center;
    width: 480px;
    margin: 0 auto 78px;
}

.content p {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 25px;
}

.content p:last-child {
    margin-bottom: 0px;
}

.white#skills_anchor {
    height: 623px;
    padding-top: 1px;
}


.skills ul {
    text-align: center;
}

.skills ul li {
    display: inline-block;
    margin: -2px 86px 0px 0px; 
}

.skills ul li:last-child {
    margin-right: 0px;
}

.container .skills img {
    margin: 0 32px;
}

.container .skills img:last-child {
    margin: 0px;
}

.portfolio_pages {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#container_portfolio {
    padding-bottom: 138px;
}

#gray_container_portfolio_h2 {
    padding: 81px 0 0 0;
}

.portfolio_pages a, 
.portfolio_pages a:visited {
    color: #070707;
}

#portfolio_pages_fashion {
    margin-top: 9px;
}

#fashion_portfolio {
    margin-top: 43px;
}

#reebook_portfolio {
    margin-top: 101px;
}

#portfolio_pages_reebok {
    margin-top: 8px;
}

#braun_portfolio {
    margin-top: 136px;
}

#portfolio_pages_braun {
    margin-top: 1px;
}

#p_under_content {
    margin: -8px 0 0 0;
}

#white_container_contacts_h2 {
    padding-top: 55px;
}

#my_only_button {
    text-align: center;
}

.white .container button {
    text-align: center;
    background-color: #000;
    width: 180.5px;
    height: 42px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: -6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.white .container button:hover {
    background-color: #fff;
    color: #000;
}

.container .container_icons ul li {
    display: inline-block;
    text-align: center;
    margin-top: 37px;
    margin: 37px 60px 0 0;
}

.container .container_icons ul li:last-child{
    margin-right: 0px;
}

.container .container_icons ul {
    text-align: center;
}

.container_icons img {
    height: 40px;
    width: 40px;
}

#bottom_text {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    margin-top: 40px;
    padding-bottom: 159px;
}