* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #232323;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

#header {
    height: 75px;
}

#header .container {
    border-bottom: 1px solid #828282;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#main_menu ul {
    text-align: center;
    padding: 30px 0;
}

#main_menu ul li {
    display: inline-block;
    margin: 0 35px;
}

#main_menu ul li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #828282;
}

#main_menu ul li a.active, 
#main_menu ul li a:hover {
    color: #070707;
}