@import url(./hamburger.scss);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Josefin Sans", "Aleo", sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

a, button {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn {
  width: 228px;
  height: 63px;
  font-family: "Aleo";
  font-weight: 400;
  line-height: 26px;
  background-color: #5474FD;
  color: #fff;
  font-family: "Aleo";
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: -o-linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
  background-image: linear-gradient(45deg, #496bfe 38%, #5474fd 38%);
}
.btn:hover, .btn:focus {
  background-image: -o-linear-gradient(45deg, #496bfe 100%, #5474fd 0%);
  background-image: linear-gradient(45deg, #496bfe 100%, #5474fd 0%);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.hamburger_menu {
  display: none;
}

.intro {
  background: url(../images/start_bg.jpg) top/cover no-repeat;
  height: 100vh;
}
.intro #side_block {
  display: block;
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #5474fd;
  padding: 20px;
  height: 100vh;
  z-index: 21;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
}
.intro #side_block.open {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.intro #side_block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.intro #side_block .wrapper #mobile_menu_container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.intro #side_block .wrapper #mobile_menu_container ul li {
  margin-bottom: 15px;
}
.intro #side_block .wrapper #mobile_menu_container ul li a {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
}
.intro #side_block .wrapper #mobile_menu_container ul li:last-child {
  margin-bottom: 0px;
}
.intro #side_block .wrapper .hamburger {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.intro #page_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 20;
}
.intro #page_overlay.open {
  display: block;
}
.intro .intro_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 282px;
}
.intro .intro_content .intro_logo {
  margin-bottom: 3px;
}
.intro .intro_content .intro_logo img {
  width: 100%;
  height: 100%;
}
.intro .intro_content h3 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-bottom: 47px;
}
.intro .intro_form {
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.intro .intro_form:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 5px;
}
.intro .intro_form input[type=search] {
  text-align: center;
  max-width: 500px;
  width: 80%;
  height: 57px;
  border: none;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2.8px;
  padding-left: 13px;
}
.intro .intro_form input[type=search]:focus {
  outline: none;
}
.intro .intro_form .intro_btn {
  width: 24%;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 25px;
}
.intro .intro_form .intro_btn:hover {
  background-color: #0121a6;
}
.intro .intro_form .intro_btn i {
  font-size: 28px;
  margin-left: 10px;
  padding-bottom: 2px;
}
.intro .scroll_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 152px;
}
.intro .scroll_down a {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  position: relative;
}
.intro .scroll_down a::before {
  content: "";
  width: 9px;
  height: 9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 23px;
  left: 47px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.intro .scroll_down a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sticky_header {
  background-color: #5474FD;
  height: 82px;
  padding: 26px 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.sticky_header .header_flex {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sticky_header .header_flex .header_logo {
  padding: 3px 0 0px 3px;
}
.sticky_header .header_flex #main_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sticky_header .header_flex #main_menu ul li {
  margin-left: 43px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.sticky_header .header_flex #main_menu ul li:first-child {
  margin-left: 0px;
}

.why_choose_us {
  background: url(../images/why_choose_us_bg.jpg) top/cover no-repeat;
}
.why_choose_us .wcu_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 116px 0 108px;
}
.why_choose_us .wcu_flex .wcu_left {
  width: 51%;
}
.why_choose_us .wcu_flex .wcu_left h2 {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  padding: 97px 0 50px;
}
.why_choose_us .wcu_flex .wcu_left p {
  font-family: "Josefin Sans";
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
  margin-bottom: 29px;
}
.why_choose_us .wcu_flex .wcu_left p:last-of-type {
  margin-bottom: 45px;
}
.why_choose_us .wcu_flex .wcu_left .btn {
  letter-spacing: 2.8px;
  padding-top: 6px;
}
.why_choose_us .wcu_flex .wcu_right .wcu_img_up {
  padding-right: 91px;
}
.why_choose_us .wcu_flex .wcu_right .wcu_img_up img {
  max-width: 350px;
  width: 100%;
}
.why_choose_us .wcu_flex .wcu_right .wcu_img_bottom {
  padding: 2px 0 0 91px;
}
.why_choose_us .wcu_flex .wcu_right .wcu_img_bottom img {
  max-width: 350px;
  width: 100%;
}

.destinations {
  background-image: url(../images/lines_bg.svg);
  background-size: 52%;
  background-repeat: no-repeat;
  background-position: 358px 47px;
  background-color: #333;
}
.destinations .dest_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 38px;
  padding-top: 101px;
  padding-bottom: 114px;
}
.destinations .dest_flex .dest_elem {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.destinations .dest_flex .dest_elem .dest_elem_img {
  padding-bottom: 30px;
}
.destinations .dest_flex .dest_elem .dest_elem_img img {
  width: 100%;
  height: 100%;
}
.destinations .dest_flex .dest_elem h4 {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: #E8E8E8;
}

.spain_up {
  background: url(../images/spain_up_bg.jpg) top/cover no-repeat;
}
.spain_up .spain_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 226px;
  padding-bottom: 104px;
}
.spain_up .spain_left .spain_card_up {
  max-width: 543px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 49px 30px 0;
}
.spain_up .spain_left .spain_card_up h4 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: 23px;
}
.spain_up .spain_left .spain_card_up h3 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.spain_up .spain_left .spain_card_up p {
  font-family: "Josefin Sans";
  font-weight: 400;
  line-height: 26px;
  color: #E8E8E8;
  margin-bottom: 46px;
}
.spain_up .spain_left .spain_card_up .btn {
  padding-top: 9px;
  margin-bottom: 48px;
  letter-spacing: 2.8px;
}

.spain_bottom {
  background: url(../images/spain_bottom_bg.jpg) top/cover no-repeat;
}
.spain_bottom .spain_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 234px;
  padding-bottom: 100px;
}
.spain_bottom .spain_right .spain_card_bottom {
  max-width: 543px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 40px 32px 0;
}
.spain_bottom .spain_right .spain_card_bottom h4 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: 23px;
}
.spain_bottom .spain_right .spain_card_bottom h3 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.spain_bottom .spain_right .spain_card_bottom p {
  font-family: "Josefin Sans";
  font-weight: 400;
  line-height: 26px;
  color: #E8E8E8;
  margin-bottom: 46px;
}
.spain_bottom .spain_right .spain_card_bottom .btn {
  padding-top: 9px;
  margin-bottom: 48px;
  letter-spacing: 2.8px;
}

.our_tourists {
  background: url(../images/our_tourists_bg.jpg) top/cover no-repeat;
}
.our_tourists h2 {
  padding: 130px 0 92px;
  text-align: center;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 0.7px;
}
.our_tourists .tourists_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 193px;
}
.our_tourists .tourists_content .tourists_img {
  width: 45%;
}
.our_tourists .tourists_content .tourists_img img {
  width: 100%;
  max-width: 450px;
}
.our_tourists .tourists_content .tourists_quote {
  background-color: #333333;
  max-height: 282px;
  width: 67%;
  padding: 49px 25px 39px 62px;
}
.our_tourists .tourists_content .tourists_quote h4 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.our_tourists .tourists_content .tourists_quote i {
  color: #5474FD;
  font-size: 35px;
  padding-right: 10px;
}
.our_tourists .tourists_content .tourists_quote p {
  font-family: "Josefin Sans";
  font-size: 16px;
  line-height: 26px;
}

.footer {
  background-color: #232323;
}
.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 120px;
}
.footer .footer_content .footer_img {
  margin-bottom: 6px;
}
.footer .footer_content .footer_img img {
  width: 100%;
  height: 100%;
}
.footer .footer_content h3 {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 19px;
}
.footer .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 22px;
  margin-bottom: 47px;
}
.footer .footer_links li a {
  text-decoration: none;
}
.footer .footer_links li:hover {
  color: #5474FD;
}

@media screen and (max-width: 1400px) {
  .destinations {
    background-image: none;
  }
}
@media screen and (max-width: 1100px) {
  .why_choose_us .wcu_flex {
    flex-direction: column;
    padding-top: 0px;
  }
  .why_choose_us .wcu_flex .wcu_left {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .why_choose_us .wcu_flex .wcu_right {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .why_choose_us .wcu_flex .wcu_right .wcu_img_up {
    padding: 0px;
  }
  .why_choose_us .wcu_flex .wcu_right .wcu_img_bottom {
    padding: 0px;
  }

  .our_tourists .tourists_content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .sticky_header {
    padding: 12px 0;
  }
  .sticky_header #main_menu {
    display: none;
  }
  .sticky_header .hamburger_menu {
    display: block;
  }

  .destinations .dest_flex {
    flex-direction: column;
    align-items: center;
  }
  .destinations .dest_flex .dest_elem {
    align-self: flex-start;
  }
  .destinations .dest_flex .dest_elem:nth-last-child(2) {
    align-self: flex-end;
  }

  .footer .footer_content {
    padding-top: 50px;
  }
  .footer .footer_content .footer_links li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 850px) {
  .intro {
    background-position: -200px;
  }

  .our_tourists h2 {
    padding: 70px 0 50px;
    line-height: 40px;
  }
  .our_tourists .tourists_content {
    padding-bottom: 80px;
  }
  .our_tourists .tourists_content .tourists_quote {
    max-height: none;
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .intro {
    background-position: -200px;
  }
  .intro .intro_content {
    padding-top: 170px;
  }
  .intro .intro_content .intro_logo {
    margin: 0px 0px 20px;
  }
  .intro .intro_content h3 {
    margin: 0px 0px 20px;
  }
  .intro .intro_form {
    display: flex;
    flex-direction: column;
  }
  .intro .intro_form input[type=search] {
    text-align: center;
    width: 100%;
    max-width: 700px;
  }
  .intro .intro_form .intro_btn {
    width: 100%;
  }
  .intro .scroll_down {
    margin: 0px;
  }

  .why_choose_us .wcu_flex {
    padding-bottom: 50px;
  }
  .why_choose_us .wcu_flex .wcu_right {
    flex-direction: column;
    align-items: center;
  }

  .destinations .dest_flex {
    padding: 50px 0px 50px;
    flex-direction: column;
    align-items: center;
  }
  .destinations .dest_flex .dest_elem {
    align-self: center;
    margin-bottom: 50px;
  }
  .destinations .dest_flex .dest_elem:nth-last-child(2) {
    align-self: center;
  }
  .destinations .dest_flex .dest_elem:last-child {
    margin-bottom: 0px;
  }

  .spain_up .spain_left {
    padding: 100px 0 50px;
  }

  .spain_bottom .spain_right {
    padding: 100px 0 50px;
  }
}
@media screen and (max-width: 500px) {
  .intro {
    background-position: -300px;
  }

  .our_tourists .tourists_content .tourists_quote {
    padding: 15px;
  }
}