*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  color: #111;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

a, button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
}
a:hover {
  color: #4A4FF2;
}

ul {
  list-style: none;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
}
.header_flex .header_links ul li {
  display: inline-block;
  margin-right: 27px;
}
.header_flex .header_links ul li:last-child {
  margin-right: 0px;
}
.header_flex .header_links ul li a {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
}

.intro_text {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
}
.intro_text .hello h4 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}
.intro_text .hello h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  padding-top: 32px;
}
.intro_text .hello h2 span {
  color: #4A4FF2;
}
.intro_text .intro_design {
  align-self: flex-end;
  white-space: nowrap;
  padding: 0 79px 11px 17px;
}
.intro_text .intro_design .intro_grey_border {
  width: 30px;
  border-top: 2px solid rgba(17, 17, 17, 0.6);
}
.intro_text .intro_design h6 {
  padding-top: 9px;
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.6;
}

.grid_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 156px;
}
.grid_gallery .gallery_column .gallery_images {
  margin-bottom: 14px;
}
.grid_gallery .gallery_column .gallery_images:last-child {
  margin-bottom: 0px;
}

.we_love_work {
  display: grid;
  grid-template-columns: 40rem 1fr;
  padding-top: 85px;
  gap: 70px;
  margin-bottom: 92px;
}
.we_love_work .wlw_h3 h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}
.we_love_work .wlw_list {
  padding-top: 6px;
  padding-left: 20px;
  white-space: nowrap;
}
.we_love_work .wlw_list ul {
  display: inline-block;
  margin-right: 66px;
}
.we_love_work .wlw_list ul:last-child {
  margin-right: 0px;
}
.we_love_work .wlw_list ul li {
  font-size: 18px;
  line-height: 23px;
  opacity: 0.6;
  margin-bottom: 10px;
}
.we_love_work .wlw_list ul li:last-child {
  margin-bottom: 0px;
}

.awards {
  border-top: 2px solid #D8D8D8;
  padding-top: 46px;
}
.awards .a3wards,
.awards .css_awards {
  display: grid;
  grid-template-columns: 1fr 25% 25% 10%;
  grid-template-rows: 50%;
  gap: 49px 0;
  border-bottom: 2px solid #D8D8D8;
  padding-bottom: 83px;
}
.awards .a3wards h3,
.awards .css_awards h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.awards .a3wards h4,
.awards .css_awards h4 {
  grid-area: 1/2/2/3;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  padding: 2px 0 0 31px;
}
.awards .a3wards h4:last-of-type,
.awards .css_awards h4:last-of-type {
  grid-area: 2/2/3/3;
}
.awards .a3wards .awards_text,
.awards .css_awards .awards_text {
  padding: 5px 50px 0 37px;
  grid-area: 1/3/2/4;
}
.awards .a3wards .awards_text:last-of-type,
.awards .css_awards .awards_text:last-of-type {
  grid-area: 2/3/3/4;
}
.awards .a3wards .awards_text p,
.awards .css_awards .awards_text p {
  padding-top: 12px;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
}
.awards .a3wards h5,
.awards .css_awards h5 {
  grid-area: 1/4/2/5;
  font-size: 16px;
  line-height: 20px;
  justify-self: end;
}
.awards .a3wards h5:last-of-type,
.awards .css_awards h5:last-of-type {
  grid-area: 2/4/3/5;
}
.awards .a3wards .award_year,
.awards .css_awards .award_year {
  padding-top: 5px;
}
.awards .css_awards {
  padding-top: 46px;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 114px;
  padding-bottom: 50px;
}
.footer_flex ul {
  display: inline-block;
}
.footer_flex ul li {
  display: inline-block;
}
.footer_flex .text_links {
  margin-right: 92px;
}
.footer_flex .text_links li {
  margin-right: 27px;
}
.footer_flex .text_links li:last-child {
  margin-right: 0px;
}
.footer_flex .footer_icons i {
  font-size: 14px;
}
.footer_flex .footer_icons li {
  margin-right: 23px;
}
.footer_flex .footer_icons li:last-child {
  margin-right: 0px;
}