*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  color: #111;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

a, button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
}
a:hover {
  color: #4A4FF2;
}

ul {
  list-style: none;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
}
.header_flex .header_links ul li {
  display: inline-block;
  margin-right: 27px;
}
.header_flex .header_links ul li:last-child {
  margin-right: 0px;
}
.header_flex .header_links ul li a {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.346154px;
}

.intro_text {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
}
.intro_text .hello h4 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4A4FF2;
}
.intro_text .hello p {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  padding-top: 32px;
}
.intro_text .hello p span {
  color: #4A4FF2;
}
.intro_text .intro_design {
  align-self: flex-end;
  white-space: nowrap;
  padding: 0 79px 11px 17px;
}
.intro_text .intro_design .intro_grey_border {
  width: 30px;
  border-top: 2px solid rgba(17, 17, 17, 0.6);
}
.intro_text .intro_design h6 {
  padding-top: 9px;
  font-style: italic;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.6;
}

.grid_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 156px;
}
.grid_gallery .gallery_column .gallery_images {
  margin-bottom: 14px;
}
.grid_gallery .gallery_column .gallery_images:last-child {
  margin-bottom: 0px;
}

.we_love_work {
  display: grid;
  grid-template-columns: 40rem 1fr;
  padding-top: 85px;
  gap: 70px;
  margin-bottom: 92px;
}
.we_love_work .wlw_h3 h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}
.we_love_work .wlw_list {
  padding-top: 6px;
  padding-left: 20px;
  white-space: nowrap;
}
.we_love_work .wlw_list ul {
  display: inline-block;
  columns: 2;
  gap: 70px;
}
.we_love_work .wlw_list ul li {
  font-size: 18px;
  line-height: 23px;
  opacity: 0.6;
  margin-bottom: 10px;
}
.we_love_work .wlw_list ul li:last-child {
  margin-bottom: 0px;
}

.awards {
  border-top: 2px solid #D8D8D8;
  padding: 46px 0 58px;
  display: grid;
  grid-template-columns: 42% 58%;
}
.awards .a3wards {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.awards .awards_nomination {
  display: grid;
  gap: 76px 0;
}
.awards .awards_position {
  display: grid;
  grid-template-columns: 1.5fr 190px 1fr;
}
.awards .awards_title {
  padding-left: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.awards .awards_text {
  padding-left: 20px;
}
.awards .awards_text h5 {
  padding-top: 4px;
  font-size: 16px;
  line-height: 20px;
}
.awards .awards_text p {
  padding-top: 12px;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
}
.awards .awards_year {
  padding-top: 3px;
  justify-self: end;
  font-size: 16px;
  line-height: 20px;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
  padding-bottom: 50px;
}
.footer_flex ul {
  display: inline-block;
}
.footer_flex ul li {
  display: inline-block;
}
.footer_flex .text_links {
  margin-right: 92px;
}
.footer_flex .text_links li {
  margin-right: 27px;
}
.footer_flex .text_links li:last-child {
  margin-right: 0px;
}
.footer_flex .footer_icons i {
  font-size: 14px;
}
.footer_flex .footer_icons li {
  margin-right: 23px;
}
.footer_flex .footer_icons li:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1140px) {
  .intro_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro_text .hello {
    margin-bottom: 25px;
  }
  .intro_text .intro_design {
    align-self: center;
  }

  .grid_gallery {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .we_love_work {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    margin-bottom: 40px;
  }
  .we_love_work .wlw_h3 {
    justify-self: center;
  }
  .we_love_work .wlw_list {
    justify-self: center;
  }
}
@media screen and (max-width: 800px) {
  .gallery_column {
    justify-self: center;
  }
}
@media screen and (max-width: 768px) {
  .grid_gallery {
    padding-top: 20px;
  }

  .awards {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
  }
  .awards .a3wards {
    justify-self: center;
  }

  .second_grid {
    padding-bottom: 0px;
  }

  .footer_flex {
    flex-wrap: wrap;
    padding: 40px 0 20px 0;
  }
}
@media screen and (max-width: 428px) {
  .we_love_work .wlw_list ul {
    columns: 1;
  }

  .footer_flex .footer_logo {
    margin-bottom: 20px;
  }
  .footer_flex .text_links {
    margin-bottom: 20px;
  }
  .footer_flex .footer_icons {
    margin-bottom: 0px;
  }
}